body {
  background-image: url(https://images.ctfassets.net/nnkxuzam4k38/2SvDjcgyav5C1DOb79JKXl/d3b06db5bb6bdb4ab237f666b5b4980e/compute-ea4c57a4.png);
}

.panel {
            height: 225px;
            width: 150px;
            background-color: rgb(0, 128, 0);
        }
.intro{
            height: 50px;
            width: 150px;
            background-color: rgb(0, 136, 255);
        }
.box1 {
            width: 150px;
            height: 150px;
            background-color: rgb(255, 0, 0);
        }
.box2 {
            width: 150px;
            height: 150px;
            background-color: rgb(0, 255, 0);
        }
#text{
            font-size: 20px;
            color: rgb(236,78,78);
            text-align:center;
        }
#text2{
            font-size: 20px;
            color: rgb(78, 150, 238);
            text-align:left;
            font-family: font-family: Georgia, 'Times New Roman', Times, serif;
        }
